.preview {
  position: relative;
  &__image {
    margin-top: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    img {
      width: 300px;
      transform: translateY(-30%);
    }
  }
  &__base {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 12.5%;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.variants {
  &__body {
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
    > div {
      display: flex;
      align-items: center;
      width: 33%;
      gap: 0.5rem;
    }
  }
  &__pick {
    cursor: pointer;
  }
}
