.preview {
  position: relative;
  &__image {
    transform: translateY(-30%);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    margin-top: 100px;
  }
  &__base {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 125px;
    margin-top: -125px;
    &__image {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 12.5%;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}
.variants {
  &__body {
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
    > div {
      display: flex;
      align-items: center;
      width: 33%;
      gap: 0.5rem;
    }
  }
  &__pick {
    cursor: pointer;
  }
}
