@import "./utility/variables";
@import "./utility/fonts";
@import "./utility/reset";

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  margin-top: 6rem;
}
.btn {
  &-reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.gray {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
